<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>An Anonymous Pen on CodePen</title>
  
  <!-- <link rel="stylesheet prefetch" href="/static/css/uikit.css?nc=2548"> -->
  <link rel='stylesheet' href='https://getuikit.com/assets/uikit/dist/css/uikit.css'>

  
  
</head>

<body>
  <span class="uk-margin-small-right" uk-icon="icon: check; ratio: 2"></span>
<span uk-icon="icon: check; ratio: 3.5"></span>

<!-- <script src="/static/js/uikit.js?nc=2548"></script>
<script src="/static/js/uikit-icons.min.js?nc=2548"></script> -->
  <script src='https://getuikit.com/assets/uikit/dist/js/uikit.js'></script>
<script src='https://getuikit.com/assets/uikit/dist/js/uikit-icons.js'></script>

  
</body>
</html>
