<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Test users - Awesome Python Webapp</title>
    <script src="/static/js/uikit-icons.min.js"></script>
</head>
<body>
    <!-- <h1>All users</h1>
    {% for u in users %}
    <p>{{ u.name }} / {{ u.email }}</p>
    {% endfor %} -->
    <div style="weight:100%;height:100%">
        <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="icon: twitter"></a>
        <a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="icon: facebook"></a>
        <a href="" class="uk-icon-button" uk-icon="icon: google-plus"></a>
    </div>
</body>
</html>